.Nav
  - if user_signed_in?
    %ul.Userlist
      %li.Userlist__login
        = link_to "ログアウト", destroy_user_session_path, method: :delete
      -# %li.Userlist__new
      -#   = link_to  "マイページ", user_path(current_user), class: "post", "turbolinks": false
  - else
    %ul.Userlist
      %li.Userlist__login
        = link_to "ログイン", new_user_session_path, class: "post"
      %li.Userlist__new
        = link_to "新規登録", new_user_registration_path, class: "post"