//投稿すべてを表示する
.Top
  = render "header"
.Head
  .Body
    .Contents.row
      - @impressions.each do |impression|
        .Content_post
          .Content_post__title
            %label ゲームタイトル
            %p=impression.title
          .Content_post__text
            %label 感想
            %p=simple_format(impression.text)

  .Footer
    //- if user_signed_in?
    = link_to "投稿フォームへ", new_impression_path