-#投稿フォーム
.Header  
  %h1 新規投稿
  -# .Body
  -#   = form_for (@impression) do |f|
  -#     .Form-group
  -#       %label ゲームタイトル
  -#       %span 必須
  -#       = f.text_field :title 

  -#     .Form-group
  -#       %label 感想
  -#       %span 必須
  -#       = f.text_area :text
      
  -#     .Btn
  -#       = f.submit '投稿する', class:'btn'

  = render "form"

  .Footer
    = link_to "投稿一覧へ", impressions_path, class:'back-btn'