-# .Nav
-#   - if user_signed_in?
-#     %ul.Userlist
-#       %li.Userlist__login
-#         = link_to "ログアウト", destroy_user_session_path, method: :delete
-#       %li.Userlist__new
-#         = link_to "マイページ", user_path(current_user), class: "post", "turbolinks": false
-#   - else
-#     %ul.Userlist
-#       %li.Userlist__login
-#         = link_to "ログイン", new_user_session_path, class: "post"
-#       %li.Userlist__new
-#         = link_to "新規登録", new_user_registration_path, class: "post"
-# こんにちは
-# トップページです。
-# こちらのアプリは、ゲームについて好き勝手に発言できるサイトです。
-# Geforce  nowのように月額制でスマートフォンでゲームができる。
-# ゲームをしなっかた人がするようになる。
-# 面白くなかったら他のゲームをすぐにできる。
-# やれるゲームが多すぎる。
-# 何をしたら良いかわからない。
-# 結果すぐやめてします。
-# そんなひとに、続けてもらえるように面白いゲームを見つけてもらうレビューサイト。

-# .footer
-#   - if user_signed_in?
-#   = link_to "投稿する", impressions_path, class: "post" 