//投稿すべてを表示する
.Head {
  padding: 30px 300px;
  .Index_body {
    .Contents.row {
      .Content_post {
        &__nickname{
          margin-bottom: 10px;
        }
        margin-top: 30px;
        border-bottom: 1px solid;
        &__title {
          margin-bottom: 10px;
        }
      }
    }
  }
  .topBtn {
    position:fixed; /*固定*/
    bottom:20px; /*場所を右下に移動*/
    right:20px; /*場所を右下に移動*/
    display:block; /*aタグをblock要素に変更*/
    background-color:rgba(0,0,0,0.5); /*以下、デザインはご自由に！！*/
    color:#fff;
    text-decoration:none;
    font-weight:bold;
    font-size:11px;
    width:60px;
    height:60px;
    text-align:center;
    line-height:22px;
    border-radius:30px;
    padding-top:30px;
    box-sizing:border-box;
  }
  
  .Footer {
    a {
      display: block;
      width: 100%;
      background-color: #EFEFEF;
      color: black;
      padding: 5 0px;
      margin-top: 20px;
      text-align: center;
      border: 1px solid;
      border-radius: 3px;
      text-decoration: none;
      font-family: inherit;
    }
  }
}
