//投稿すべてを表示する
.Head {
  padding: 30px 300px;
  // margin: 0 50px;
  .Body {
    .Contents.row {
      .Content_post {
        margin-top: 30px;
        border-bottom: 1px solid;
        &__title {
          margin-bottom: 10px;
        }
      }
    }
  }
  
  .Footer {
    a {
      display: block;
      width: 100%;
      background-color: #EFEFEF;
      color: black;
      padding: 5 0px;
      margin-top: 20px;
      text-align: center;
      border: 1px solid;
      border-radius: 3px;
      text-decoration: none;
      font-family: inherit;
    }
  }
}
