* {
  box-sizing: border-box; 
}

@mixin fieldside() {
  margin-left: 178px;
  margin-right: 178px;
  label.Prerequisite {
    color: red;
  } 
}
@mixin btnset() {
  height: 50px;
  width: 343px;
  background-color: #3CCACE;
  color: white;
  border: honeydew;
  margin-bottom: 30px;
}

.Body { 
  background-color: #f5f5f5;
  .new_user {
    text-align: center;
    font-size: 26px;
    height: 100%;
  } 

  .information {
    height: 100%;
    width: 700px;
    margin: 0 auto;
    background-color:white;
    h2 {
      padding: 40px;
      font-size: 22px;
      text-align: center;
    }
    .Borderline{
      border: 1px solid #efefef;
    }

    .field {
      padding-top: 40px;
      @include fieldside();

    }
    .actions {
      padding-top: 40px;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      .submit {
        height: 50px;
        width: 343px;
        background-color: #3CCACE;
        color: white;
        border: honeydew;
        margin-bottom: 30px;
      }
      a.back-btn {
        @include btnset();
        text-decoration: none;
        padding-top: 4px;
      }
    }
    
  }
  .Footer {
    //background-color: #f5f5f5;
    //width: 100vw;
  }
}




